.fileContainer {
    color: #A37B73;
    background-color: #FCEADE;
}

.fileContainer 
    .chooseFileButton {
        background: #FE5E41;
    }

.chooseFileButton:hover {
    background: #DB7F67;
}

.fileContainer p{
    font-size: 0;
}
